.wrapper {
  background-color: var(--white);
  padding: var(--space-l) 0;
}

.flexContainer {
  composes: sideBySideCenter from 'styles/utils.module.css';
}

@media (min-width: 768px) {
  .flexContainer {
    composes: sideBySide from 'styles/utils.module.css';
  }
}
