.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--white);
  padding: 1.2rem 0;
  margin-top: var(--header-height);
  z-index: 200;
}

.flexContainer {
  composes: spaceBetween from 'styles/utils.module.css';
}
