.flexContainer {
  composes: spaceBetween from 'styles/utils.module.css';
  margin-top: var(--space-s);
  gap: 1em;
}

.next {
  margin-left: auto;
}

.iconText {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.id {
  justify-content: center;
  gap: inherit;
}

.list {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  margin: 4px;
}

.active {
  background-color: var(--white);
}
