.stack {
  margin-top: var(--space-xs);
}

.stack > * + * {
  margin-top: var(--space-xs);
}

.stack h2 {
  margin-top: var(--space-s);
}

.stack p {
  line-height: 1.8;
}

.stack ul,
.stack ol {
  list-style-position: inside;
}

.stack img {
  border: 1px solid #000 !important;
  border-radius: 5px;
}
