.stack {
  margin-top: var(--space-xs);
}

.stack > * + * {
  margin-top: var(--space-xs);
}

.stack h2 {
  margin-top: var(--space-s);
  font-size: var(--heading3);
  background-color: var(--light-blue);
  padding: 10px 20px;
  border-radius: 5px;
}

.stack p {
  line-height: 1.8;
}

.stack ul,
.stack ol {
  /* ブラウザ標準の設定に戻す */
  list-style: revert;
  /* markerを枠内に入れるための設定 */
  list-style-position: inside;
}

.stack li + * {
  margin-top: var(--space-xs);
}

.stack img {
  border: 1px solid var(--gray-80) !important;
  border-radius: 5px;
}
