.toc {
  border: 1px solid var(--gray-80);
  margin: 0 auto;
  padding: 0 40px var(--space-s);
  border-radius: 5px;
}

.tocHead {
  font-size: var(--heading3);
  font-weight: 700;
}

.toc + p {
  margin-top: var(--space-s);
}

.toc svg {
  margin-right: 7px;
}

.toc .list {
  margin: 0;
  padding: var(--space-xs) 0;
  list-style: none;
  border-bottom: 1px solid var(--gray-80);
}

.list::before {
  content: '-';
  color: var(--light-blue);
  margin-right: 10px;
}

.list.h3 {
  margin-left: 20px;
}
