.flexContainer {
  composes: sideBySide from 'styles/utils.module.css';
}

.main {
  border-radius: 20px;
  background-color: var(--white);
  padding-bottom: var(--space-m);
}

@media (min-width: 768px) {
  .main {
    /* width: 842px; */
    width: 65.78125%; /* 842/1280 */
  }

  .sidebar {
    /* width: 400px; */
    width: 31.25%; /* 400/1289 */
  }
}
